<div class="uk-container bg-sobre" style="padding: auto;">
  <h3 class="titulo-container">Caracterização</h3>
  <p id="sinopse" class="fonte18" style="text-align: justify;">
    A Especialização em Desenvolvimento Web e Mobile - Full Stack é um curso de Especialização Lato Sensu com carga
    horária de 390 horas, presencial, com 18 meses de duração e aberta para 30 vagas. As aulas começam dia 29 de Março
    de 2019.
  </p>

  <h3>A quem é destinado este curso?</h3>
  <p>
    Este curso destina-se a pessoas que desejam ser referência no desenvolvimento de software de qualidade, seja no
    papel de programador(a), arquiteto(a), líder técnico, dentre outras. Para isso, serão exercitados no curso tanto
    questões conceituais quanto questões tecnológicas modernas no que tange a criação de aplicações para a web e
    celulares Android e iOS. Adicionalmente, questões de processo e design de produto também são discutidas, pois
    entendemos que não só de tecnologia vive o profissional de TI, mas também fatores humanos do processo devem estar
    incluídos nesta formação.
  </p>
  <p>Exemplos de tecnologia exercitados são HTML, CSS, Javascript, Angular, NodeJS, Android (Java e Kotlin) e iOS
    (Swift).</p>
  <h3>
    Quem cuida do curso?
  </h3>
  <p>A Especialização em Desenvolvimento Web e Mobile - Full Stack é coordenada pelos professores Vinícius Sebba Patto
    (viniciussebba@inf.ufg.br) e Iwens Gervásio Sene Júnior (iwens@inf.ufg.br), docentes do Instituto de Informática
    reconhecidos mundialmente pela atuação com tecnologia. No secretariado atua Berenice Vieira Silva
    (berenice@inf.ufg.br), experiente no trato administrativo e conhecida pelo bom tratamento dado ao corpo discente.
  </p>
  <br>
</div>

<div class="uk-section bg-disciplinas">
  <div class="uk-container">
    <h2 align="center" class="titulo-container"><b>Disciplinas</b></h2>
    <ng-container *ngFor="let disciplina of disciplinas">
      <ul uk-accordion>
        <li>
          <a class="uk-padding-small uk-accordion-title" href="#">{{disciplina.nome}}</a>
          <div class="uk-accordion-content">
            <p><b>Carga horária: </b>{{disciplina.cargahoraria}}</p>
            <p><b>Docente responsável:</b> {{disciplina.docente}}</p>

            <p><b>Ementa:</b></p>
            <p>{{disciplina.ementa}}</p>

            <p><b>Metodologia:</b></p>
            <p>{{disciplina.metodologia}}</p>
            <p><b>Bibliografia básica:</b></p>
            <p [innerHTML]="disciplina.bibliografia"></p>
          </div>
        </li>

      </ul>
    </ng-container>
    <br />
  </div>
</div>

<div class="uk-section bg-docentes">
  <div class="uk-container uk-container-xsmall">
    <h2 align="center" class="titulo-container titulo"><b>Docentes</b></h2>
    <table class="uk-table uk-table-divider uk-table-middle">
      <thead>
        <tr>
          <th>Docente</th>
          <th>Titulação</th>
          <th>Curriculum Lattes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Adriana Silveira de Souza</td>
          <td>Me.</td>
          <td><a class="uk-button uk-button-primary uk-box-shadow-large" href="http://lattes.cnpq.br/7718085116411118"
              target="_blank">Lattes</a></td>
        </tr>
        <tr>
          <td>Sérgio Teixeira de Carvalho</td>
          <td>Dr.</td>
          <td><a class="uk-button uk-button-primary uk-box-shadow-large" href="http://lattes.cnpq.br/2721053239592051"
              target="_blank">Lattes</a></td>
        </tr>
        <tr>
          <td>Edmundo Sérgio Spoto</td>
          <td>Dr.</td>
          <td><a class="uk-button uk-button-primary uk-box-shadow-large" href="http://lattes.cnpq.br/0656325794546880"
              target="_blank">Lattes</a></td>
        </tr>
        <tr>
          <td>Fábio Nogueira de Lucena</td>
          <td>Dr.</td>
          <td><a class="uk-button uk-button-primary uk-box-shadow-large" href="http://lattes.cnpq.br/6428011745982173"
              target="_blank">Lattes</a></td>
        </tr>
        <tr>
          <td>Vinícius Sebba Patto</td>
          <td>Dr.</td>
          <td><a class="uk-button uk-button-primary uk-box-shadow-large" href="http://lattes.cnpq.br/3585475958654532"
              target="_blank">Lattes</a></td>
        </tr>
        <tr>
          <td>Sandro Silva Moreira</td>
          <td>Me.</td>
          <td><a class="uk-button uk-button-primary uk-box-shadow-large" href="http://lattes.cnpq.br/3401439109520359"
              target="_blank">Lattes</a></td>
        </tr>
        <tr>
          <td>Iwens Gervásio Sene Júnior</td>
          <td>Dr.</td>
          <td><a class="uk-button uk-button-primary uk-box-shadow-large" href="http://lattes.cnpq.br/3693296350551971"
              target="_blank">Lattes</a></td>
        </tr>
        <tr>
          <td>Daniel Alves Ferreira Martins</td>
          <td>Me.</td>
          <td><a class="uk-button uk-button-primary uk-box-shadow-large" href="http://lattes.cnpq.br/2372621321725366"
              target="_blank">Lattes</a></td>
        </tr>
        <tr>
          <td>Silvano Maneck Malfatti</td>
          <td>Me.</td>
          <td><a class="uk-button uk-button-primary uk-box-shadow-large" href="http://lattes.cnpq.br/5988455539579567"
              target="_blank">Lattes</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>