<div uk-slideshow="autoplay: true; animation: push; min-height: 300; max-height: 400">

    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
  
      <ul class="uk-slideshow-items">
        <li>
          <img src="https://getuikit.com/docs/images/photo.jpg" alt="" uk-cover>
          <div class="uk-position-center uk-position-small uk-text-center uk-light">
            <h2 class="uk-margin-remove">Center</h2>
            <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <button class="uk-button uk-button-primary uk-margin-top">Primary</button>
          </div>
        </li>
        <li>
          <img src="https://getuikit.com/docs/images/dark.jpg" alt="" uk-cover>
          <div class="uk-position-center uk-position-small uk-text-center uk-light">
            <h2 class="uk-margin-remove">Center</h2>
            <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <button class="uk-button uk-button-primary uk-margin-top">Primary</button>
          </div>
        </li>
        <li>
          <img src="https://getuikit.com/docs/images/light.jpg" alt="" uk-cover>
          <div class="uk-position-center uk-position-small uk-text-center uk-light">
            <h2 class="uk-margin-remove">Center</h2>
            <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <button class="uk-button uk-button-primary uk-margin-top">Primary</button>
          </div>
        </li>
      </ul>
  
      <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
        uk-slideshow-item="previous"></a>
      <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
        uk-slideshow-item="next"></a>
  
    </div>
  
    <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
  
  </div>