@import "assets/sass/variables";

.page-footer {
  padding-top: 20px;
  background-color: $verde-escuro;
  color: #fff;
}

.white-text {
  color: #fff;
  font-weight: bold;
  font-size: 1.1em;
}

.footer-copyright {
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  color: #d1cfd4;
  background-color: $cinza-escuro;
  text-align: center;
}

.bg-cinza-escuro {
  background-color: $cinza-escuro;
  color: white;
  p, h3 {
    color: white;
  }
  h3 {
    font-weight: bold;
  }
}

.bg-anexos {
  background-color: $verde-escuro;
  h3 {
    font-weight: bold;
  }
  color: white;
}

.bg-cronograma {
  background-color: whitesmoke;
  h3 {
    color: $verde-escuro;
    font-weight: bold;
  }
  thead {
    background-color: $cinza-escuro;
    th {
      color: white;
      font-weight: bold;
    }
  }
}