<div class="uk-section bg-cinza-escuro">
  <div class="uk-container">
    <h3>Etapa 1 - Seleção</h3>

    <p>As candidatos que queiram participar do Processo Seletivo deverão observar os procedimentos a seguir:
    </p>
    <ol>
      <li>As inscrições serão realizadas no período de 15/02/2019 a 15/03/2019 (das 14:00 às 20:00), na Secretaria do
        Curso, no Instituto de Informática situado na Alameda Palmeiras Quadra D, Campus Samambaia CEP 74690- 900 –
        Goiânia- GO, levando os seguintes documentos:</li>
      <ol type="a">
        <li>ficha de inscrição (modelo padronizado constante do Anexo do Edital ) devidamente preenchida);</li>
        <li>Carteira de identidade e CPF (fotocópias autenticadas);</li>
        <li>uma foto 3x4, recente;</li>
        <li>Diploma(s) e histórico(s) escolar(es) do(s) curso(s) de graduação, devidamente reconhecidos pelo MEC
          (fotocópias autenticadas), ou documento que comprove que o candidato concluirá o curso de graduação antes do
          início do curso de especialização pretendido;</li>
        <li>Curriculum vitae no modelo do Formulário de Currículo Padronizado devidamente atualizado e comprovado,
          seguindo o modelo constante do Anexo do Edital(.pdf);</li>
        <li>Cópia do contracheque, se servidor da UFG;</li>
      </ol>
    </ol>

    <h3>Etapa 2 - Matrícula</h3>
    <p>As candidatos aprovados no Processo Seletivo deverão observar os procedimentos a seguir para efetuarem suas
      matrículas na Secretaria do Curso.</p>
    <ol>
      <li>As matrículas serão realizadas no período de 25/03/2019 a 26/03/2019 (das 14:00 às 20:00), na Secretaria do
        Curso, no Instituto de Informática situado na Alameda Palmeiras Quadra D, Campus Samambaia CEP 74690- 900 –
        Goiânia- GO, levando os seguintes documentos:</li>
      <ul>
        <li>O requerimento em formulário próprio da Secretaria do Curso;</li>
        <li>O comprovante do recolhimento da taxa de matrícula, cujo boleto bancário estará disponível na
          Coordenação/Secretaria do Curso, com exceção do(s) aluno(s) servidor(es) da UFG;</li>
        <li>Cópia do último contra-cheque se servidor da UFG.</li>
      </ul>
    </ol>

    <p class="uk-text-meta">* Somente será matriculado no curso o candidato selecionado que efetivamente comprove que
      colou grau em curso superior devidamente reconhecido pelo MEC, antes do início.</p>

    <p class="uk-text-meta">* Para solicitar a emissão da Guia de Recolhimento da União - GRU, encaminhar e-mail para
      especializacaodev@inf.ufg.br informando o nome completo e o CPF do candidato.

    </p>
  </div>
</div>

<div class="uk-section bg-anexos">
  <div class="uk-container">
    <h3 align="center">Anexos</h3>
    <div class="uk-flex uk-flex-around uk-flex-middle">
      <div>
        Edital de inscrição no curso de Especialização em Desenvolvimento Web e Mobile - Full Stack
      </div>
      <div>
        <a class="uk-button uk-button-primary uk-box-shadow-large" target="_blank"
          href="http://www.inf.ufg.br/files/uploads/espMob/Edital_Web_Mobile_2019-2020.pdf">Edital de Inscrição</a>
      </div>
    </div>
  </div>
</div>

<div class="uk-section bg-cronograma">
  <div class="uk-container">
    <h3 align="center">Cronograma</h3>
    <p>As aulas são essencialmente quinzenais, ocorrendo no período noturno, às sextas das 18h30min as 22h30min e
      diurno, aos sábados das 08h00min as 12h00min e das 13h00min às 17h00min.</p>
    <div class="uk-flex uk-flex-center">
      <div>
        <a class="uk-button uk-button-primary uk-box-shadow-large" target="_blank"
          href="https://docs.google.com/document/d/1wBDLRbaWna3nTTvUg_Ld16hjtjmPDHhbEHzNjyjGb00/edit">Calendário de
          Aulas</a>
      </div>
    </div>

    <table class="uk-table uk-table-striped">
      <thead>
        <tr>
          <th>Informações</th>
          <th>Detalhes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Período de Inscrição</td>
          <td>15/02/2019 a 15/03/2019 (das 14:00 às 20:00)</td>
        </tr>
        <tr>
          <td>2ª Turma</td>
          <td>29 de Março de 2019</td>
        </tr>
        <tr>
          <td>Período de realização</td>
          <td>18 meses</td>
        </tr>
        <tr>
          <td>Carga horária total</td>
          <td>390 horas</td>
        </tr>
        <tr>
          <td>Número de vagas</td>
          <td>30</td>
        </tr>
        <tr>
          <td>Local</td>
          <td>Alameda Palmeiras, Quadra D, Campus Samambaia, Instituto de Informática (Universidade Federal de Goiás)
          </td>
        </tr>
      </tbody>
    </table>

    <table class="uk-table uk-table-striped">
      <thead>
        <tr>
          <th>Investimento</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Inscrição</td>
          <td>Gratuita</td>
        </tr>
        <tr>
          <td>Matrícula</td>
          <td>R$450,00</td>
        </tr>
        <tr>
          <td>Mensalidade</td>
          <td>17 parcelas de R$ 450,00</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>