@import "../../assets/sass/mixins";
@import "../../assets/sass/variables";

.bg-navbar {
  background-color: whitesmoke;
}

.title-esp {
  background-color: $cinza-escuro;
  text-align: center;
  font-weight: bold;
  color: whitesmoke;
  padding: 8px;
  border-radius: 5px;
}

.bg-footer {
  background-color: whitesmoke;
  h5 {
    font-weight: bold;
  }
}

.uk-section {
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 30px;
}

.fullstack {
  @include gradient(#209887, #1fb3a8);
  a {
    color: #209887;
  }
}

.espbi {
  @include gradient(#1b6799, #237fc2);
  a {
    color: #1b6799;
  }
}

.espgti {
  @include gradient(#1a7a54, #4da95c);
  a {
    color: #1a7a54;
  }
}

.uk-card-body {
  text-align: center;
  h3 {
    font-weight: bold;
    color: whitesmoke;
  }
  color: white;
  a {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
  }
}

.uk-card {
  padding: 0;
  min-height: 250px;
}

.uk-badge{
  margin-top: 5px; 
  margin-left: 5px; 
  &.orange {
    background: orangered !important;
  }
  &.green {
    background: forestgreen !important;
  }
}

.prof {
  @include gradient(#474a51, #7b7b7b);
  a {
    color: #1b6799;
  }
}