@import 'variables';

@mixin gradient-verde {
    background-image: linear-gradient($verde-escuro, $verde-claro);
}

@mixin gradient-cinza {
    background-image: linear-gradient($cinza-escuro, #4e5565);
}

@mixin gradient($c1, $c2) {
    background-image: linear-gradient($c1, $c2);
}